$extra-small-size: 360px;
$small-size: 550px;
$medium-size: 1024px;
$big-size: 1024px;
$extra-big-size: 1440px;
$min-width: $extra-small-size;
$medium-width: $big-size;
$max-width: $extra-big-size;